<section data-ng-controller="PartnersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Partner</h1>
    </div>
    <div class="col-md-12">

        <form class="form-horizontal" data-ng-submit="upload()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="logo">Logo</label>
                    <div class="controls">
                        <button id="logo" ng-file-select ng-model="logo" class="btn btn-primary">Attach Logo</button>
                        <div ng-file-drop ng-model="logo" class="drop-box" 
                            drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                             accept="image/*">
                                    Drop logo image here
                        </div>
                    </div>
                    
                    <img data-ng-src="/partners/{{partner._id}}/logo" data-ng-show="partner.logo">
                </div>
            </fieldset>
        </form>
        

        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            

            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="partner.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">
                        <select data-ng-model="partner.type" id="type" class="form-control" >
                            <option>NEXUS</option>
                            <option>Agency</option>
                            <option>Solution Provider</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="overview">Overview</label>
                     <textarea data-ng-model="partner.overview" id="overview" class="form-control">
                    </textarea>
                </div>
            
                <div class="form-group">
                    <label class="control-label" for="valueAdd">How Gigya Adds Value</label>
                     <textarea data-ng-model="partner.valueAdd" id="valueAdd" class="form-control">
                    </textarea>
                </div>


                <div class="form-group">
                    <label class="control-label" for="implementation">Implementation</label>
                     <textarea data-ng-model="partner.implementation" id="implementation" class="form-control">
                    </textarea>
                </div>
            
                <div class="form-group">
                    <label class="control-label" for="developerPageURL">Developer Reference URL</label>
                    <div class="controls">
                        <input type="text" data-ng-model="partner.developerPageURL" id="developerPageURL" class="form-control" placeholder="http://developers.gigya.com/015_Partners/...">
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>