<section data-ng-controller="PartnersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Partners</h1>
    </div>
    <div class="list-group">
        <section data-ng-repeat="partner in partners" class="list-group-item">

            <aside class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == partner.user._id))">
                <a class="btn btn-primary" href="/#!/partners/{{partner._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </aside>
            
            <a data-ng-href="#!/partners/{{partner._id}}">
    			<h4 class="list-group-item-heading">
                    <span  data-ng-bind="partner.name"></span>
                    <small data-ng-bind="partner.type"></small>
                </h4>
            </a>

        </section>
    </div>
    <div class="alert alert-warning text-center">
    	Don't see your partner? <a href="/#!/partners/create">Add them!</a>
    </div>
</section>